Any tokens issued should be invalidated by reuse of the originating authorization_code

According to [RFC 6749 section 4.1.2](https://www.rfc-editor.org/rfc/rfc6749#section-4.1.2),

> If an authorization code is used more than
once, the authorization server MUST deny the request and SHOULD
revoke (when possible) all tokens previously issued based on
that authorization code.  The authorization code is bound to
the client identifier and redirection URI.

From my local testing, I believe that this library satisfies the MUST criterion, but not the SHOULD.  It'd be nice to upgrade things.

I haven't yet given thought on how we might change the repository interfaces to achieve this - any suggestions, @jasonraimondi?

At one point I thought about bringing this sort of logic into the library, but at the time, I ended up deciding that it was probably more appropriate for the end users of the library to implement tokens being revoked. 

I am willing to revisit this thought if you have any suggestions or RFC's on how we could do this.

This is still on my plate, Stale Bot, so please keep it open 🙂

@jasonraimondi I've now raised PR #71 to address what's needed here.  Please review when you have the chance.

Also, please see the question I put on your commit https://github.com/jasonraimondi/ts-oauth2-server/commit/f43357af6126674c96366a6f9ca7d5c38882cad2, which you applied after merging some of my other changes.